<p id="notice"><%= notice %></p>

<h1>Listing Bill Detail Infos</h1>

<table>
  <thead>
    <tr>
      <th>Application</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bill_detail_infos.each do |bill_detail_info| %>
      <tr>
        <td><%= bill_detail_info.application_id %></td>
        <td><%= link_to 'Show', bill_detail_info %></td>
        <td><%= link_to 'Edit', edit_bill_detail_info_path(bill_detail_info) %></td>
        <td><%= link_to 'Destroy', bill_detail_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bill detail info', new_bill_detail_info_path %>
