<p id="notice"><%= notice %></p>

<p>
  <strong>Branch:</strong>
  <%= @student_cource.branch_id %>
</p>

<p>
  <strong>Student:</strong>
  <%= @student_cource.student_id %>
</p>

<p>
  <strong>Sequence no:</strong>
  <%= @student_cource.sequence_no %>
</p>

<p>
  <strong>Coruse:</strong>
  <%= @student_cource.coruse_id %>
</p>

<p>
  <strong>Lecture startdate:</strong>
  <%= @student_cource.lecture_startdate %>
</p>

<p>
  <strong>Lecture enddate:</strong>
  <%= @student_cource.lecture_enddate %>
</p>

<p>
  <strong>Timetable week:</strong>
  <%= @student_cource.timetable_week %>
</p>

<p>
  <strong>Timetabel time:</strong>
  <%= @student_cource.timetabel_time %>
</p>

<p>
  <strong>Class:</strong>
  <%= @student_cource.class %>
</p>

<%= link_to 'Edit', edit_student_cource_path(@student_cource) %> |
<%= link_to 'Back', student_cources_path %>
