<p id="notice"><%= notice %></p>

<p>
  <strong>Branch:</strong>
  <%= @question_input.branch_id %>
</p>

<p>
  <strong>Input:</strong>
  <%= @question_input.input_id %>
</p>

<p>
  <strong>Question group:</strong>
  <%= @question_input.question_group %>
</p>

<p>
  <strong>Question number:</strong>
  <%= @question_input.question_number %>
</p>

<p>
  <strong>Question value:</strong>
  <%= @question_input.question_value %>
</p>

<p>
  <strong>Question comment:</strong>
  <%= @question_input.question_comment %>
</p>

<%= link_to 'Edit', edit_question_input_path(@question_input) %> |
<%= link_to 'Back', question_inputs_path %>
