<% if false %>
<h2>ログイン</h2>
<% end %>

<div class="container">
    <div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Please sign in</h3>
        </div>
          <div class="panel-body">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    
                <div class="form-group">
                <%= f.input :username, :placeholder => 'username' %>
              </div>
              <div class="form-group">
                <%= f.input :password, required: false, :placeholder => 'Password' %>
              </div>
              <div class="checkbox">
                <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
              </div>
                <%= f.button :submit, "Log in", class: "btn btn-lg btn-success btn-block" %>
              <% end %>
          </div>
      </div>
    </div>
  </div>
  <% if false %>
  <div class="row">
  <%= render "devise/shared/links" %>
  </div>
  <% end %>
</div>

