<%- model_class = Inquiry -%>
<h1>こんにちは、<%= current_user.username %>さん</h1>
<p>ユーザー用ページです。</p>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:branch_id) %>:</strong></dt>
  <dd><%= @inquiry.branch_info_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inquiry_date) %>:</strong></dt>
  <dd><%= @inquiry.inquiry_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inquiry_person) %>:</strong></dt>
  <dd><%= @inquiry.inquiry_person %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inquiry_type) %>:</strong></dt>
  <dd><%= @inquiry.inquiry_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inquiry_type_etc) %>:</strong></dt>
  <dd><%= @inquiry.inquiry_type_etc %></dd>
  <dt><strong><%= model_class.human_attribute_name(:parent_name) %>:</strong></dt>
  <dd><%= @inquiry.parent_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:parent_name_kana) %>:</strong></dt>
  <dd><%= @inquiry.parent_name_kana %></dd>
  <dt><strong><%= model_class.human_attribute_name(:relation) %>:</strong></dt>
  <dd><%= @inquiry.relation %></dd>
  <dt><strong><%= model_class.human_attribute_name(:telephone) %>:</strong></dt>
  <dd><%= @inquiry.telephone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address_zip) %>:</strong></dt>
  <dd><%= @inquiry.address_zip %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address_prefectures) %>:</strong></dt>
  <dd><%= @inquiry.address_prefectures %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address_city) %>:</strong></dt>
  <dd><%= @inquiry.address_city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:mobile) %>:</strong></dt>
  <dd><%= @inquiry.mobile %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @inquiry.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:station) %>:</strong></dt>
  <dd><%= @inquiry.station %></dd>
  <dt><strong><%= model_class.human_attribute_name(:payment) %>:</strong></dt>
  <dd><%= @inquiry.payment %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pay_account_mark) %>:</strong></dt>
  <dd><%= @inquiry.pay_account_mark %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pay_account_numner) %>:</strong></dt>
  <dd><%= @inquiry.pay_account_numner %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pay_owner) %>:</strong></dt>
  <dd><%= @inquiry.pay_owner %></dd>
  <dt><strong><%= model_class.human_attribute_name(:course_1) %>:</strong></dt>
  <dd><%= @inquiry.course_1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:course_2) %>:</strong></dt>
  <dd><%= @inquiry.course_2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:course_3) %>:</strong></dt>
  <dd><%= @inquiry.course_3 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:course_4) %>:</strong></dt>
  <dd><%= @inquiry.course_4 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:course_5) %>:</strong></dt>
  <dd><%= @inquiry.course_5 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:course_6) %>:</strong></dt>
  <dd><%= @inquiry.course_6 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:course_7) %>:</strong></dt>
  <dd><%= @inquiry.course_7 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:course_8) %>:</strong></dt>
  <dd><%= @inquiry.course_8 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:course_9) %>:</strong></dt>
  <dd><%= @inquiry.course_9 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:course_10) %>:</strong></dt>
  <dd><%= @inquiry.course_10 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inquiry_name_1) %>:</strong></dt>
  <dd><%= @inquiry.inquiry_name_1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inquiry_name_kana_1) %>:</strong></dt>
  <dd><%= @inquiry.inquiry_name_kana_1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inquiry_birthday_1) %>:</strong></dt>
  <dd><%= @inquiry.inquiry_birthday_1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inquiry_age_yearmonth_1) %>:</strong></dt>
  <dd><%= @inquiry.inquiry_age_yearmonth_1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inquiry_grade_1) %>:</strong></dt>
  <dd><%= @inquiry.inquiry_grade_1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inquiry_gender_1) %>:</strong></dt>
  <dd><%= @inquiry.inquiry_gender_1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inquiry_name_2) %>:</strong></dt>
  <dd><%= @inquiry.inquiry_name_2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inquiry_name_kana_2) %>:</strong></dt>
  <dd><%= @inquiry.inquiry_name_kana_2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inquiry_birthday_2) %>:</strong></dt>
  <dd><%= @inquiry.inquiry_birthday_2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inquiry_age_yearmonth_2) %>:</strong></dt>
  <dd><%= @inquiry.inquiry_age_yearmonth_2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inquiry_grade_2) %>:</strong></dt>
  <dd><%= @inquiry.inquiry_grade_2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inquiry_gender_2) %>:</strong></dt>
  <dd><%= @inquiry.inquiry_gender_2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inquiry_name_3) %>:</strong></dt>
  <dd><%= @inquiry.inquiry_name_3 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inquiry_name_kana_3) %>:</strong></dt>
  <dd><%= @inquiry.inquiry_name_kana_3 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inquiry_birthday_3) %>:</strong></dt>
  <dd><%= @inquiry.inquiry_birthday_3 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inquiry_age_yearmonth_3) %>:</strong></dt>
  <dd><%= @inquiry.inquiry_age_yearmonth_3 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inquiry_grade_3) %>:</strong></dt>
  <dd><%= @inquiry.inquiry_grade_3 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inquiry_gender_3) %>:</strong></dt>
  <dd><%= @inquiry.inquiry_gender_3 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inquiry_name_4) %>:</strong></dt>
  <dd><%= @inquiry.inquiry_name_4 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inquiry_name_kana_4) %>:</strong></dt>
  <dd><%= @inquiry.inquiry_name_kana_4 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inquiry_birthday_4) %>:</strong></dt>
  <dd><%= @inquiry.inquiry_birthday_4 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inquiry_age_yearmonth_4) %>:</strong></dt>
  <dd><%= @inquiry.inquiry_age_yearmonth_4 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inquiry_grade_4) %>:</strong></dt>
  <dd><%= @inquiry.inquiry_grade_4 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inquiry_gender_4) %>:</strong></dt>
  <dd><%= @inquiry.inquiry_gender_4 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inquiry_name_5) %>:</strong></dt>
  <dd><%= @inquiry.inquiry_name_5 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inquiry_name_kana_5) %>:</strong></dt>
  <dd><%= @inquiry.inquiry_name_kana_5 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inquiry_birthday_5) %>:</strong></dt>
  <dd><%= @inquiry.inquiry_birthday_5 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inquiry_age_yearmonth_5) %>:</strong></dt>
  <dd><%= @inquiry.inquiry_age_yearmonth_5 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inquiry_grade_5) %>:</strong></dt>
  <dd><%= @inquiry.inquiry_grade_5 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inquiry_gender_5) %>:</strong></dt>
  <dd><%= @inquiry.inquiry_gender_5 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inquiry_data) %>:</strong></dt>
  <dd><%= @inquiry.inquiry_data %></dd>
  <dt><strong><%= model_class.human_attribute_name(:send_date) %>:</strong></dt>
  <dd><%= @inquiry.send_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inquiry_experience) %>:</strong></dt>
  <dd><%= @inquiry.inquiry_experience %></dd>
  <dt><strong><%= model_class.human_attribute_name(:experience_date) %>:</strong></dt>
  <dd><%= @inquiry.experience_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inquiry_explanation) %>:</strong></dt>
  <dd><%= @inquiry.inquiry_explanation %></dd>
  <dt><strong><%= model_class.human_attribute_name(:explanation_date) %>:</strong></dt>
  <dd><%= @inquiry.explanation_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inquiry_applicant) %>:</strong></dt>
  <dd><%= @inquiry.inquiry_applicant %></dd>
  <dt><strong><%= model_class.human_attribute_name(:applicant_date) %>:</strong></dt>
  <dd><%= @inquiry.applicant_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inquiry_other) %>:</strong></dt>
  <dd><%= @inquiry.inquiry_other %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inquiry_other_content) %>:</strong></dt>
  <dd><%= @inquiry.inquiry_other_content %></dd>
  <dt><strong><%= model_class.human_attribute_name(:remarks) %>:</strong></dt>
  <dd><%= @inquiry.remarks %></dd>
  <dt><strong><%= model_class.human_attribute_name(:regist_user) %>:</strong></dt>
  <dd><%= @inquiry.regist_user %></dd>
  <dt><strong><%= model_class.human_attribute_name(:update_user) %>:</strong></dt>
  <dd><%= @inquiry.update_user %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              inquiries_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_inquiry_path(@inquiry), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              inquiry_path(@inquiry),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
